#auto{
  position: absolute; left: 45%; top: 2%;
  font-size: 1.5vw;
}

#autoopr{
  position: absolute; left: 2%; top: 20%; 
}

#autoinfo{
  position: absolute; left: 2%; top: 35%;
}

#autoinfotwo{
  position: absolute; left: 2%; top: 47%;
}

#autoinfothree{
  position: absolute; left: 2%; top: 59%;
}

#matches{
  position: absolute; left: 13%; top: 2%;
  font-size: 1.5vw;
}

#match1{
  position: absolute; left: 2%; top: 15%;
}

#match2{
  position: absolute; left: 2%; top: 25%;
}

#match3{
  position: absolute; left: 2%; top: 35%;
}

#climbing{
  position: absolute; left: 40%; top: 2%;
  font-size: 1.5vw;
}

#canclimb

#thisclimb

#climbwhat

#climbedoff

#ynoclimboff

#thiswhy

#dohaveramp

#haveramp

#drive{
  position: absolute; left: 40%;
}

#speed{
  position: absolute; left: 2%; top: 15%;
}

#speedinfo{
  position: absolute; left: 2%; top: 25%;
}

#drivetype{
  position: absolute; left: 2%; top: 42.5%;
}

#drivetypeinfo{
  position: absolute; left: 2%; top: 52.5%;
}

#durability{
  position: absolute; left: 2%; top: 70%;
}

#goodorbad{
  position: absolute; left: 2%; top: 80%;
}

#cubes{
  position: absolute;	
 }
 
#intake{
  position: absolute; left: 35%; top: 2%;
  font-size: 1.5vw;
}

#switchyn{
  position: absolute; left: 30%; top: 15%;
}

#scaleyn{
  position: absolute; left: 32%; top: 30%;
}

#groundyn{
  position: absolute; left: 14%; top: 45%;
}

#portalyn{
  position: absolute; left: 17%; top: 60%;
}

#intakespeed{
  position: absolute; left: 30%; top: 75%;
}

.intakethings{
  font-size: 1.25vw;
}

.matches{
  font-size: 1.25vw;
}

.auto{
  font-size: 1.25vw;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr;
}

.item-1 {
  	grid-column: 1 / 2;
  	grid-row:1;
  	border: 2px solid black;
    position: relative;
}

.item-2 {
  	grid-column: 1 / 2;
  	grid-row: 2;
  	border: 2px solid black;
    position: relative;
}

.item-3 {
  	grid-column: 2 / 4;
  	grid-row: 1;
  	border: 2px solid black;
    position: relative;
}

.item-4 {
  	grid-column: 2 / 4;
  	grid-row: 2;
  	border: 2px solid black;
    position: relative;
}

.item-5a{
    grid-column: 4 / 6;
    grid-row: 1;
    border: 2px solid black;
    position: relative;
}

.item-5b{
    grid-column: 6 / 8;
    grid-row: 1;
    border: 2px solid black;
    position: relative;
}

.item-6 {
    grid-column: 1 / 2;
    grid-row: 3;
    border: 2px solid black;
    position: relative;
}

.item-7 {
    grid-column: 2 / 4;
    grid-row: 3;
    border: 2px solid black;
    position: relative;
}

.item-8 {
    grid-column: 1 / 4;
    grid-row: 5;
    border: 2px solid black;
    position: relative;
}

.item-9 {
	grid-column: 1 / 2;
	grid-row: 4;
	border: 2px solid black;
	position: relative;
}

.item-10 {
	grid-column: 2 / 3;
	grid-row: 4;
	border: 2px solid black;
	position: relative;
}

#match1Comments {
    width: 20.5%;
    position: absolute;
}

#match2Comments { 
    width: 20.5%; 
    margin-left: 33%;
    position: absolute;
}

#match3Comments {
  width: 20.5%;
  margin-left: 66%;
    position: inherit;
}

#scale_epr {
  position: inherit;
}

#switch_epr {
  position: inherit;
}

#opp_epr {
  position: inherit;
}

#portal_opr {
  position: inherit;
}